
.field-image input, .field-image label, .field-image img {
    float: left;
}

.card-payments__image {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.card-payments__image img {
    max-width: 150px !important;
    padding-right: 20px;
}

.card-payments__upload {
    max-width: 95px;
}

