<div class="minicart-payment-estimator-content-wrapper">
    <div class="minicart-payment-estimator-content payment-estimator" data-mage-init='{"modalPopup":{}}'>
        <div class="minicart-citipayimg-wrapper">
            <img class="minicart-payment-estimator-logo" src=""
                 aria-label="CitiPay logo" alt="Citi Pay">
            <span class="minicart-payment-estimator-logo-text"></span>
        </div>
        <span class="minicart-payment-estimator-calculation-html"></span>
        <a class="see-details-link" href="javascript:void(0);" role="button"
           aria-label="See details about a Citi Pay Installment Loan" > See Details</a>
    </div>
    <div class="minicart-payment-estimator-modal" >
        <div class="modal-body-content minicart-payment-estimator-disclosure-text"></div>
    </div>
</div>
