@see-details-blue: #00e;
.citypay-payment-estimator-modal {
    .modal-inner-wrap {
        height: ~'calc(100vh - 100px)';
        width: 800px;
    }
    .modal-header .action-close {
        z-index: 1051;
    }
}
.citipayimg-wrapper,
.minicart-citipayimg-wrapper {
    display: table;
    * {
        display: table-cell;
        vertical-align: middle;
    }
    span {
        font-weight: bold;
    }
}
.minicart-citipayimg-wrapper {
    .minicart-payment-estimator-logo {
        display: inline;
        width: 100px;
    }
    .minicart-payment-estimator-logo-text {
        display: inline;
    }
}
.calc-wrapper {
    font-size: 0;
    max-width: 340px;
    * {
        display: inline;
        font-size: 1.4rem;
    }
}
.payment-estimator-content-wrapper {
    padding-bottom: 10px;
}
.payment-estimator-checkout {
    min-height: 50px;
    .payment-estimator-content {
        display: block;
    }
    .citipay-paymentestimator {
        display: inline;
    }
}
.payment-estimator-content {
    display: none;
    min-height: 50px;
    .payment-estimator-logo {
        width: 100px;
    }
}
@media only screen and (max-width: @screen__m) {
    .citypay-payment-estimator-modal {
        &.modal-popup {
            &.modal-slide {
                .modal-inner-wrap {
                    max-height: 100vh;
                }
            }
        }
    }
    .payment-estimator-content--cart {
        padding-left: 15px;
        padding-right: 15px;
    }

    .payment-estimator-content-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.rc-loader {
    background: url('../images/loader-2.gif') no-repeat center;
}

.rc-loader-wrap {
    .minicart-payment-estimator-content {
        background: url('../images/loader-2.gif') no-repeat center;
        min-height: 50px;
    }
}
.minicart-payment-estimator-content {
    font-size: 0;
    * {
        font-size: 1.4rem;
    }
}
.payment-estimator-checkout {
    .payment-estimator {
        font-size: 0;
        * {
            font-size: 1.4rem;
        }
    }
}
.minicart-payment-estimator-calculation-html {
    * {
        display: inline;
    }
}
.payment-estimator {
    font-family: Citi-Sans-Text-Regular, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    .payment-estimator-logo {
        display: none;
    }
    .see-details-link {
        color: @see-details-blue;
        display: none;
        padding: 0 5px;
    }
    .minicart-citipayimg-wrapper {
        display: none;
    }
}
.minicart-payment-estimator-modal {
    display: none;
}
.citipay-logo-img {
    display: flex;
    margin-bottom: 0;
}
