<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <citipay_hpp>
                <model>CitipayHPPFacade</model>
                <active>0</active>
                <title>Citi Pay - Pay Over Time</title>
                <mode>test</mode>
                <show_address>0</show_address>
                <address_required>0</address_required>
                <allow_intl_address>0</allow_intl_address>
                <debug>0</debug>
                <fraud_check>0</fraud_check>
                <test_api_end_point>https://payments.uat.freedompay.com/checkoutservice/checkoutservice.svc</test_api_end_point>
                <live_api_end_point>https://payments.freedompay.com/checkoutservice/checkoutservice.svc</live_api_end_point>
                <test_soap_api_end_point>https://cs.uat.freedompay.com/Freeway/Service.asmx</test_soap_api_end_point>
                <live_soap_api_end_point>https://cs12.freedompay.us/Freeway/Service.asmx</live_soap_api_end_point>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_cancel>1</can_cancel>
                <can_void>1</can_void>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <citipay_payment_estimator>
                    <payment_estimator_test_api_end_point>https://ecomm-services.uat.freedompay.com/paymentestimator/CitiPay/CalculatePromos</payment_estimator_test_api_end_point>
                    <payment_estimator_live_api_end_point>https://ecomm-services.freedompay.com/paymentestimator/CitiPay/CalculatePromos</payment_estimator_live_api_end_point>
                    <payment_estimator_test_token_api_end_point>https://ida.uat.freedompay.com/connect/token</payment_estimator_test_token_api_end_point>
                    <payment_estimator_live_token_api_end_point>https://ida.freedompay.com/connect/token</payment_estimator_live_token_api_end_point>
                </citipay_payment_estimator>
            </citipay_hpp>
        </payment>
    </default>
</config>
